* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  display: block;
  background: none;
  width: 400px;
  height: 400px;
  margin: 60px auto;
  animation: fly-owl 4s linear infinite reverse;
}

#iris-left,
#iris-right,
#iris-left path,
#iris-right path {
  transform-origin: center center;
  transform-box: fill-box;
  transform: unset;
  animation: move-eyes 1s ease-out infinite alternate;
}

#right-wing {
  transform-origin: center center;
  transform-box: fill-box;
  transform: unset;
  animation: moving 1s ease-out infinite alternate;
}

@keyframes fly-owl {
  0%,
  100% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0rem);
  }
}

@keyframes move-eyes {
  0% {
    transform: translate(-0.5rem, 0.5rem);
  }
}

@keyframes moving {
  25%,
  75% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0.1rem);
  }
}
