* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  display: block;
  background: none;
  width: 400px;
  height: 400px;
  margin: 60px auto;
  animation: fly-owl 3s linear infinite reverse;
}

svg #flicker {
  transform-origin: center center;
  transform-box: fill-box;
  transform: unset;
  animation: blink-eye 4s infinite;
}

/* svg #casco {
  transform-origin: center center;
  transform-box: fill-box;
  transform: unset;
  animation: helmet 4s infinite;
} */

@keyframes fly-owl {
  0%,
  100% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0rem);
  }
}

@keyframes blink-eye {
  0%,
  90%,
  95%,
  100% {
    clip-path: ellipse(0 0 at 48% -41%);
  }
  92.5%,
  97.5% {
    clip-path: ellipse(70% 70% at 43% 39%);
  }
}

@keyframes helmet {
    0%,
    100% {
      transform: translateY(1rem);
    }
    50% {
      transform: translateY(0rem);
    }
  }
